@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;600&family=Poppins:wght@500;600&family=Roboto:wght@100;300;500;700&family=Ubuntu:wght@300;500&display=swap");

#makeSize {
  height: 300px !important;
}
.navbar {
  background: #31313168;
  backdrop-filter: blur(3px);
}
.nav-link {
  color: aliceblue !important;
}
.nav-link.active {
  font-weight: bold !important;
  scale: 1.2 !important;
  /* border-bottom: 3px solid #000; */
}

.navbar-toggler {
  border: none !important;
}

.carousel-item {
  height: 80vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
}

.carousel-caption h5 {
  width: 60%;
  margin: auto;
  font-size: 41px;
  line-height: 8.9;
  font-family: "Neuropol X Free", sans-serif;
}
.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  background: darkorange;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
}
/* .footer {
  border-top-left-radius: 125px;
} */

#card:hover {
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 5px rgba(15, 12, 15, 0.292),
    0 0 6px rgba(83, 4, 72, 0.495) !important;
}

/* .card-img-tiles {
  display: block;
  border-bottom: 1px solid #e1e7ec;
} */

a {
  color: #0da9ef;
  text-decoration: none !important;
}

/* .card-img-tiles > .inner {
  display: table;
  width: 100%;
} */

/* .card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle; */
/* border: 1px dotted #bdbfc0 !important; */
/* } */

/* .card-img-tiles .main-img > img:last-child,
.card-img-tiles .thumblist > img:last-child {
  margin-bottom: 0;
} */

/* .card-img-tiles .main-img > img,
.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.thumblist {
  width: 35%;
  border-left: 1px solid #e1e7ec !important;
  display: table-cell;
  margin: 15px !important;

  width: 65%;
  padding: 15px;
  vertical-align: middle;
} */

/* .card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.45rem 0.5rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
} */

/* h1, h4{
  color: hsl(0, 0%, 0%);
  font-family: monospace;
  font-size: 30px !important;
} */
